<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/vue.js"></script>
    <title>v-for</title>
</head>
<body>
    <h1>v-for指令用法</h1>
    <hr>
    <div id="app">
        <h5>循环</h5>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <h5>排序</h5>
        <ul>
            <li v-for="item in sortItems">{{item}}</li>
        </ul>
        <h5>对象循环输出</h5>
        <ul>
            <li v-for="(student,index) in students">
                {{index}}:{{student.name}}-{{student.age}}
            </li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data:{
                items:[20,23,18,65,32,19,54,56,41],
                items1:[20,23,18,65,32,19,5,56,41],
                students:[
                    {name:'a',age:20},
                    {name:'b',age:22},
                    {name:'c',age:25}
                ]
            },
            computed:{
                sortItems:function () {//注意上面的循环中的items要变成sortItems新命名的变量
                    return this.items1.sort(sortNumber);
                }
            }
        })

        function sortNumber(a,b) {
            return a-b;
        }
    </script>
</body>
</html>